  #firstPage {
    background-image: url(img/lab-desktop.jpg);
  }
  header{
    min-width: 1200px;
  }
  header img{
    width: 250px;
    height: 90px;
    margin: 3%;   
  }
  .nav-menu ul li{
    margin: 90px 65px 0px 130px;
    align-self: flex-end;
  }
  .nav-menu ul li a{
    font-size: 30px;
  }
  main {
    width: 50%;
    margin: -20px 0px 20px 450px;  
  }
  main section h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  main section p {
    font-size: 20px;
    margin: 10px;
  }
  #searchpokemon {
    width: 550px;
    height: 40px;
    margin: 30px 0px 30px 0px;
  }
  .btn {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
  }
  footer {
    min-width: 1200px;
   }
   .social h3 {
    font-size: 30px;
  }
  .row img {
    width: 40px;
    height: 40px;
  }
  .row label {
    font-size: x-large;
  }
  .download h3{
    font-size: 30px;
  }
  .row2 img {
    width: 120px;
    height: 40px;
  }
  


