@media only screen and (max-width: 768px) {
    #paginaUno {
        background-image:url("/imagenes/fondophone.png");
    }

    #titulo{
        position: relative;
        width: 200px;
        height: 200px;
        left: 8px;
        top: 190px;
    }
#paginaUno h1{
    font-size: 30px;
    margin-top: -60px;
    }
#paginaUno h2{
    font-size: 22px;
    margin-top: 40px;
    margin-right: 3px;
    margin-bottom: 60px;
    }
.tituloImagen{
    float:left;
    position: static;
    width: 205px;
    height: 157px;
    margin-top: -337px;
    }
    
#paginaUno h3{
    float:left;
    position: center;
    width: 270px;
    left: 50px;
    font-size: 14px;
    margin-top: 190px;
      text-align: center;

    
    }
}

