@font-face {
    font-family: DyslexicFont;
    src: url("../font/OpenDyslexic-Regular.otf");
}

#container {
    display: flex;
    flex-wrap: wrap;
}

/*----------------------------------------------------
Manipulacion de las tarjetas del pokemon */

.myBtn {
    background-color: rgba(21, 25, 42, 0);
    color: #e5d549;
    font-family: DyslexicFont;
    border: none;
    float: right;
}

.pokemon-card {
    float: left;
    height: 250px;
    width: 270px;
    background: rgba(21, 25, 42, 0.6);
    box-shadow: 2px 1px 2px 1px #0a0a0a;
    border-radius: 10px;
    text-align: center;
    margin: 0.5%;
    padding: 1%;
}

.pokemon-name, .pokemon-number {
    font-family: DyslexicFont;
    color: #FFFFFF;
    vertical-align: bottom;
}

.pokemon-name {
    font-size: 150%;
}

.pokemon-number {
    font-size: 1rem;
    float: left;
}

.pokemon-image {
    vertical-align: bottom;
    margin-top: 5px;
    margin-block-end: 5px;
}

.pokemon-type {
    display: inline-block;
    box-shadow: 2px 2px 4px 1px #000000;
    font-family: DyslexicFont;
    font-size: 120%;
    margin-top: 5px;
    margin-left: 8px;
    padding: 2px;
    border-radius: 10px;
    color: #000000;
}

#pokemon-type-dark, #pokemon-type-ghost, #pokemon-type-poison, #pokemon-type-rock {
    color: #FFFFFF;
}

#pokemon-type-grass {
    background-color: #2BD03B;
}

#pokemon-type-fire {
    background-color: #FE6E1D;
}

#pokemon-type-flying {
    background-color: #BCA8E4;
}

#pokemon-type-water {
    background-color: #108CFF;
}

#pokemon-type-bug {
    background-color: #83EA8D;
}

#pokemon-type-normal {
    background-color: #EAAB90;
}

#pokemon-type-electric {
    background-color: #E7F635;
}

#pokemon-type-ground {
    background-color: #A6582C;
}

#pokemon-type-ice {
    background-color: #86E1E1;
}

#pokemon-type-fighting {
    background-color: #DC2E2E;
}

#pokemon-type-steel {
    background-color: #ADBDCC;
}

#pokemon-type-psychic {
    background-color: #FA14FF;
}

#pokemon-type-fairy {
    background-color: #F199D8;
}

#pokemon-type-dragon {
    background-color: #9654EB;
}

#pokemon-type-dark {
    background-color: #000000;
}

#pokemon-type-ghost {
    background-color: #2C214E;
}

#pokemon-type-poison {
    background-color: #9200EB;
}

#pokemon-type-rock {
    background-color: #682804;
}

/* Manipulacion del Tarjeta Emergente -------------------------------------------*/

/* El Modal */

@media (max-width: 800px) {
    .modal-content {
        display: flex;
        flex-direction: column;
    }
    .close {
        position: absolute;
        float: right;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 7.5%;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
}

/* Contenido del modal (tarjeta emergente) */

.modal-content {
    background-color: rgba(3, 37, 108, 1);
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    font-family: DyslexicFont;
    color: #FFFFFF;
}

/* Boton para cerrar el modal */

.close {
    color: #e5d549;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Boton para abrir el modal */

#newBtn {
    background-color: rgba(21, 25, 42, 0);
    color: #e5d549;
    font-family: DyslexicFont;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#new-btn-img {
    height: 100px;
}

@media(max-width:600px) {
    .modal-more{
        width: 100%;
    }
    .div-pokemon-info {
        width: 100%;
    }
    .div-more-info {
        width: 100%;
    }
    .modal-info-div{
        width: 100%;
    }
}

/* Informacion dentro del modal (contenido) */

.div-pokemon-info {
    text-align: left;
    width: 50%;
    margin: 5px;
    padding: 5px;
    font-size: 100%;
    background-color: #108CFF;
}

.div-more-info {
    text-align: left;
    width: 40%;
    margin: 2px;
    font-size: 90%;
    background-color: #2BD03B;
}

.div-evolutions {
    vertical-align: bottom;
    margin: 2px;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.modal-info-div {
    display: flex;
    flex-wrap: wrap;
}

.name-evol {
    margin-left: 20px;
}

