*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: grey;
  background-image: url(img/lab.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.root {
  display:flex;
  /*flex-flow:column nowrap;*/
}
.header {
  display:flex;
  margin: auto;
  background:rgba(107, 190, 242, 0.8);
  justify-content: space-around;
  padding: 10px;
  width: auto;
}
.logo img {
  margin: 10px 0px 10px 10px;
  width: 155px;
  height: 60px;
  max-width: 750px;
}
.tab h1 {
  font-size: 18px;
  color: #0E1426;
  max-width: 750px;
}
.tab2 h1 {
  font-size: 18px;
  color: #0E1426;
  max-width: 750px;
}
.tab3 h1 {
  font-size: 18px;
  color: #0E1426;
  max-width: 750px;
 }
.square {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: space-around;
}
.main {
  background: rgba(14, 20, 38, 0.3);
  align-self: flex-end;
  border-radius: 20px;
  padding: 25px 35px 25px 35px;
  text-align: center;
  margin: 20px 20px 20px 0px;
}
.text {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 20px 0px 60px 0px;
}
#searchpokemon {
  width: 680px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
}
::placeholder{
  color: #0E1426;
  font-size: 18px;
  background: white;
}
.btn {
  width: 200px;
  height: 42px;
  margin: 50px 0px 30px 0px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  background: linear-gradient(90deg, rgba(36,204,169,1) 0%, rgba(162,219,150,1) 99%, rgba(255,255,255,1) 100%);
}
.footer {
  display:flex;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  width:auto;
  background: rgba(242, 183, 5, 0.8);
}
.logofooter {
  max-width: 1000px;
  margin-top: 20px;
  align-self: flex-start;
}
.logofooter img {
  width: 100px;
  height: 55px;
  margin-left: 10px;
}        
.social {
  max-width: 1000px;
  margin-bottom: 10px;
}
.social h1 {
  font-size: 15px;
  color: #0E1426;
}
.row {
  margin-top: 10px;
  display: flex;
}
.row img {
  width: 20px;
  height: 20px;
  text-align: center;
}
.row label {
  margin-top: -2px;
  margin-left: 5px;
}
.download {
  max-width: 1000px;
}
.download h1{
  font-size: 15px;
  color: #0E1426;
}
.row2 {
  margin-top: 10px;
  display: flex;
}
.row2 img {
  width: 85px;
  height: 25px;
  margin-right: 10px;
}

@media screen and (max-width:1100px) {
  .footer, .header, .square {
    flex-wrap: wrap;
  }
  
  .social, .download, .tab, .tab2, .tab3{
    margin-top: 20px;
  }
}      