body {
    background-image: url("/imagenes/fondo.png");
    display: flex;
}

h1,h2, body{
    margin: 0px;
    padding: 0px; 
}

html,body{
    height: 100%;
    width: 100%;
}

#paginaUno {
    background-image: url("/imagenes/imgFondo.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    background-position: center;
    
    color: #FFF;
    font-family: 'Arial, Helvetica', sans-serif;
    
}

#titulo{
    background-color: #6BAC2B90;
    border-radius: 15px;
    position: absolute;
    width: 490px;
    height: 350px;
    left: 150px;
    top: 100px;
  
}
#paginaUno h1{
    /*position: absolute;
    width: 370px;
    height: 190px;
    left: 100px;
    top: 270px;*/
    font-weight: bold;
    font-size: 70px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
}
#paginaUno h2{
    /*position: absolute;
    width: 650px;
    height: 190px;
    left: 100px;
    top: 230px;*/
    font-weight: normal;
    font-size: 32px;
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}
.tituloImagen{
    position: absolute;
    width: 585px;
    height: 442px;
    left: 183px;
    top: 90px;
}

#paginaUno h3{

    position: absolute;
    width: 450px;
    height: 226px;
    left: 827px;
    top: 221px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 153.19%;
    /* or 37px */
    margin-top: 60px;
    letter-spacing: 0.075em;
}

#paginaUno button{
    position: absolute;
    width: 193px;
    height: 55px;
    left: 800px;
    top: 429px;

    background: #ABD3EE;
    border-radius: 10px;
    border-bottom: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;

    color: #123A43;

}


#paginaDos {
  display: none;
}


#tituloPagina{
    background-color: #6BAC2B90;
    color: #FFF;
    font-family: 'Arial, Helvetica', sans-serif;
    padding: 16px 24px;
    margin-top: 42px;
    margin-bottom: 30px;
    min-height: 65px;
    width: calc(100vw - 65px);
}

.headerIcon{
    float:left;
    margin-top: -48px;
}

#tituloPagina h2{
    font-weight: normal;
}

.personaje {
    
    background: #FFFFFF;
    width: 280px; 
    height: 360px;
    left: 407px;
    float: left;
    border: inset;
    margin: 22px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 10px;
    border-top: 10px solid hsl(90, 60%, 42%);
    border-bottom: 5px solid #6BAC2B ;
   
}
.nombre {
    color: #123A43;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    line-height: 42px;
    margin-left: 55px;
    
}

.imagen {
     
    width: 175px; 
    height: 175px;
    left: 76px;
    top: 52px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #999;
}
.button {
    width: 200px;
    height: 35px;
    right: 17px;
    bottom: 21px;
    margin-left: 45px;

    background: #C4C4C4;
    border-radius: 6px;
    border-style: none;
    border-bottom: 6px solid hsl(90, 60%, 42%);
    box-shadow: 3px 3px 3px #999;

    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal ;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    color: #123A43;
}

.boxBuscador{
    float: right;
    margin-top: 16px;
}

.txtBuscador {
    border-radius: 10px;
    border: 0px #CCC solid;
    line-height: 32px;
    padding: 0px 16px;
}

.btnBuscador {
    border-radius: 100%;
    background: #91BF64;
    color: #FFF;
    width: 28px;
    height: 28px;
    position: absolute;
    margin-left: -32px;
    margin-top: 2px;
    border: 0px;
}

.boxIzquierda {
    float: left;
    width: 60%;
}