@font-face {
    font-family: DyslexicFont;
    src: url("../font/OpenDyslexic-Regular.otf");
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #15192A;
    /*When the image doesnt load*/
    background-image: url("../img/pokeball2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;}

header {
    background-color: #e5d549;
    width: 100%;
    height: 109px;
    margin-top: 35px ;
}
#header-text{
    height: 100px;
    align-self: center;
    
}
#header-logo{
    top:0;
    left:0;
    margin: 0;
    padding: 0;
}
.navbar{
    overflow: hidden;
    background-color: #03256C;

    top: 0;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top:30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(37, 65, 178, 0.9);
    color: white;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
}
/*----------------------------------------------------
Manipulacion del Menu Lateral */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgba(3, 37, 108, 0.6);
    overflow-x: hidden;
    color: #818181;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s;
    
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #15192A;
    color: #818181;;
    padding: 10px 15px;
    border: none;
    width: 126px;
    font-family: Arial, Helvetica, sans-serif;
}

.openbtn:hover {
    background-color: rgba(37, 65, 178, 1);;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

/*----------------------------------------------------
Manipulacion de las tarjetas del pokemon*/

.pokemon-card {
    float: left;
    height: 300px;
    background: rgba(21, 25, 42, 0.6);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 10px;
    box-sizing: border-box;
    flex-basis: 32%;
    margin-left: 0.6%;
}

.pokemon-type-grass {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #2BD03B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-poison {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #9200EB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-fire {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #FE6E1D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-flying {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #BCA8E4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-water {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #108CFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-bug {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #83EA8D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-normal {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #EAAB90;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-electric {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #E7F635;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-ground {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #A6582C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-ice {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #86E1E1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-dark {
    box-shadow: 2px 2px 4px 1px white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-fighting {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #DC2E2E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-ghost {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #2C214E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-steel {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #ADBDCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-psychic {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #FA14FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-fairy {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #F199D8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-rock {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #682804;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-type-dragon {
    box-shadow: 2px 2px 4px 1px #000000;
    background-color: #9654EB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-left: 2px;
}

.pokemon-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #0b140a;
    vertical-align: bottom;
}

.pokemon-number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #0b140a;
    vertical-align: bottom;
}

.pokemon-image {
    vertical-align: bottom;
    margin-top: 15%;
    margin-block-end: 5%;
}