html {
    height: 100%;
}

body{
    background-image: url("img/01-pokemon.jpeg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: repeat-y;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    
}
.container {
    background-color:rgba(240, 240, 240, 0.913);
    width: 50%;
    padding: 1.5rem;
    text-align:left;
    margin-left: auto;
    margin-right:auto ;
    border: 2px solid #9900FF;
    border-radius: 30px;
    
}

.home-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}  

.introduction{
    font-family:'Play', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    
    
}
.img-hash{
    width: auto;
}

.btn-star{
    text-align: center;
}
.begin{
    text-align: center;
    place-items: center;
    border-radius: 15px;
    text-decoration:none;
    cursor:pointer;
    color:black;
    font-size: 1rem;
    padding: 1rem;
    background-color:#FFCC01;
    border: 4px solid black;
    
}
.begin:hover {
    background-color:#2575BC;
    color:white;
    border: 4px solid white;
}

.logo{
    width: 35%;
    margin-left: 30%;
    
    
}

.second-window{
    height:auto;
    margin: 10%;
    background-color: rgba(240, 240, 240, 0.913);
    margin-bottom: 20px;
    margin-top: 50px;
    border: 2px solid #9900FF;
    border-radius: 25px;
    
    
}
.pokemon-list{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
    
}
.section-pokemon{
    border: 2px solid black;
    margin: 10px;
    width: 30%;
    background-color: white;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr; */
    font-size: 13px;
    
    
}
.pokemon-identifier{
    background-color: #FFCC01;
    width: fit-content;
    height: fit-content;
    padding: 2px 8px 2px 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    
    
    
    
}
.img-pokemon{
    align-self: center;
    padding-left: 30%;
    
    
}
.type-pokemon{
    background-color: #6AA84F;
    text-align: center;
    color:black;
    border: 1px solid black;
    padding: 2px 8px 2px 5px;
    margin-top: 5px;
    border-radius: 8px;
    text-transform: capitalize;
    
    
    
    
}

.div-type{
    display: flex;
    justify-content: space-around;
}

.generation{
    background-color:#9900FF;
    text-align: center;
    border-radius: 10%;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    text-transform: capitalize;

}

.namePokemon{
    background-color:#2B6DB6;
    text-align: center;
    color:black; 
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    margin-top: 10%;
    text-transform: uppercase;
    margin-left: 30%;
    margin-bottom: 10%;
    
    
}
.namePokemon:hover{
    background-color:#FFCC01;
    color:white;
    border: 4px solid white;
}


.third-window{
    height:auto;
    width: 30%;
    margin: 10%;
    margin-left: 40%;
    background-color: rgba(240, 240, 240, 0.913);
    margin-bottom: 20px;
    margin-top: 50px;
    border: 2px solid #9900FF;
    border-radius: 25px;  
}
.button-return{
    width: 30%;
    margin-left: 30%;
    cursor: pointer;
    background: #FFCC01;
    padding: 5px;
    margin-bottom: 10px;
    
}
.button-return:hover{
    background-color:#2575BC;
    color:white;
    border: 4px solid white;
    
}
.pokemonListClick{
    border-radius: 25px;
    padding: 5%;
}


.pokemon-identifier-click{
    background-color: #FFCC01;
    width: fit-content;
    height: fit-content;
    padding: 2px 8px 2px 5px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    position: relative;
    
}
.new-img-pokemon{
    margin-left: 25%;
    
}
.new-name-pokemon{
    background-color:#2B6DB6;
    width: 130px;
    margin-left: 25%;
    text-align: center;
    color:black;
    height: fit-content;
    border: 1px solid black;
    padding: 2px 8px 2px 5px;
    text-transform: uppercase;
}



.hide{
    display: none;
}


.options{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.input{
    margin: 2%;
    text-align: center;
}
.select-dues{
    width: 30%;
    margin: 2%;
    
}

.SuggestionsParagraph {
    margin-top: 1%;
    margin-left: 2%;
    width: 100%;
}

.infoDeveloper {
    margin-left: 2%;
    width: 100%;
}

.footer{
    margin-top: 4rem;
    background-color: rgba(240, 240, 240, 0.913);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    
    
}
.information-footer{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}


.img-footer{
    height: 70px;
    margin: 10px 5px;
    background-size: 60px 60px;
}

.resultCalculate{
    text-align: center;
    font-size: 30px;
    
}

@media (max-width: 780px){
    .pokemon-list{
        display: flex;
        justify-content: space-evenly;
    }
    .section-pokemon{
        width: 40%;
    }
   .third-window{
       width: 50%;
       margin-left: 30%;
   } 
}
@media (max-width: 500px){

    .introduction{
        font-size: 1rem;
    }

    .img-hash{
        width: 70%;
    }

    .img-pokemon{
        padding-left: 0;
    }
    .begin{
        font-size: 0.8rem;
        padding: 0.5rem;
        border: 2px solid black;
    }
    .footer{
        font-size: 0.7rem;
        
    }
    .img-footer {
    height: 50px;

    }
   .div-type{
    font-size: 0.7rem;
    justify-content: space-evenly;
   } 
  .namePokemon{
      margin-left: 10%;
  } 
  .third-window {
    width: 70%;
    margin-left: 15%;
  }

}
