  #firstPage{
    background-image: url(img/lab-tablet.png);
  }
  header{
    flex-direction: row;
    min-width: 768px;
  }
  header img{
    width: 180px;
    height: 70px;  
  }
  .nav-menu ul li{
    display: inline-block;
    margin: 65px 35px 0px 70px;
    
  }
  .nav-menu ul li a{
    font-size: 25px;
  }
  .square{
    padding: 60px;
  }
  main section h3{
    font-size: 35px;
  }
  main section p {
    font-size: 25px;
  }
  #searchpokemon {
    width: 90%;
    height: 45px;
    margin: 5%;
  }
  ::placeholder{
    font-size: 18px;
  }
  .btn {
    width: 30%;
    height: 40px;
    margin: 5%;
  }
  footer {
    min-width: 768px;
  }
  .container{
    flex-direction: row;
    justify-content: space-around;
  }
  footer section img{
    width: 190px;
    height: 90px;
    margin-top: 20%;
  }
  .social h3 {
    font-size: 20px;
  }
  .row img {
    width: 30px;
    height: 30px;
  }
  .row label {
    font-size: medium;
  }
  .download h3{
    font-size: 20px;
  }
  .pokemonCard{
    margin-top: 25%;
  }
.card-pokeboll-img{
  height: 5px;
  width:20px;
}
.poke-card-num{
  padding: 1px;
  margin-top: 15px;

}